@model MaawinPages.Models.LoginModel

@using (Html.BeginForm("LoginView", "MaawinTradingPages", new { returnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { role = "form" }))
{
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <label>Username</label>
                </div>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.username)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Password</label>
                </div>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.password, new { @type = "password" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                    <input type="submit" id="submit" />
                </div>
            </div>
            <div class="row">
                <label style="color:red" id="Status">@ViewBag.LoginFailed</label>
            </div>
        </div>
}